<br>
<hr>
<br>
<strong> {{encabezado}}</strong>

<br>
<p> 
    Cadena Original: {{encabezado|default:"Sección sin título"}}
</p>
<p>
    Uso de join: {{encabezado|join:'-'}}
</p>
<p>
    Tamaño de la cadena: {{encabezado|length}}
</p>
<p>
    Mayúscula: {{encabezado|upper}}
</p>
<p>
    Minúscula: {{encabezado|lower}}
</p>
<p>
    Contador de palabras: {{encabezado|wordcount}}
</p>
<br>
<p>
    Lista original: {{estudiantes}}
</p>
<p>
    Uso Join: {{estudiantes|join:' - '}}
</p>
<p>
    Primero de la lista: {{estudiantes|first}}
</p>
<p>
    Último de la lista: {{estudiantes|last}}
</p>
<p>
    Random (Aleatoreo): {{estudiantes|random}}
</p>
<p>
    Tamaño de la lista: {{estudiantes|length}}
</p>
<br>
<hr>
<br>