
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}

            {% endblock title %}
            | Flor Cerdán L
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    </head>
    <body>
        <header>
            <div id="logotipo">
                <img src="{% static 'images/LogoDJango.png' %}" />
                <h1>
                    Proyecto Web (LP3)
                </h1>
            </div>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="{% url 'inicio' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'saludo' %}">Mensaje de Saludo</a>
                </li>
                <li>
                    <a href="{% url 'rango' %}">Mostrar Numeros [a,b]</a>
                </li>
                <li>
                    <a href="{% url 'rango2' %}">Mostrar Numeros [a,b] (Con Parámetro)</a>
                </li>
            </ul>
        </nav>
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>

        </div>

        <div id="content">
            <div class="box">                
                {% block content %}
                    <strong> 
                       Contenido por defecto desde layout.html  
                    </strong>                    
                {% endblock content %}
            </div>
        </div>
        <footer>
            UNTELS - Lenguaje de Programación III &copy; Flor Cerdán - {% now "d/m/y h:m:s" %}
        </footer>
    </body>
</html>